.dark .post,
.dark .sidebar,
.dark .create{

    background:#1a1a1b;
    color:white;

}


.dark .votes{

    background:#222;

}

@media(max-width:800px){

.container{

grid-template-columns:1fr;

}

.sidebar{

display:none;

}

}

</style>
