
}

.actions{

    margin-top:20px;
    color:#666;
    display:flex;
    gap:20px;
}

/* SIDEBAR */

.sidebar{

    background:white;
    padding:20px;
    border-radius:8px;
    height:max-content;

}

.sidebar div{

    padding:12px 0;
    border-bottom:1px solid #eee;

}

/* SOMBRE */

.dark{

    background:#030303;
    color:white;

}

.dark header,
.dark .post,
.dark .sidebar,
.dark .create{

    background:#1a1a1b;
    color:white;

}


.dark .votes{

    background:#222;

}

@media(max-width:800px){

.container{

grid-template-columns:1fr;

}

.sidebar{

display:none;

}

}

</style>
